.theme1 {
    --primary-color: white;
    --secondary-color: rgb(1, 148, 177);
    background-color: rgb(255, 255, 255);
    background-image: url("BG1(2).png");
    background-size: cover;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
}

.theme2 {
    --primary-color: rgb(0, 0, 0);
    --secondary-color: rgb(112, 10, 244);
    background-color: rgb(0, 0, 0);
    background-image: url("BG2(2).png");
    background-size: cover;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.wrapper {
    height: 200px;
    background-color: var(--secondary-color);
    width: 370px;
    max-width: 370px;
    border-radius: 15px;
    padding: 16px 15px 0;
    transition-delay: 3s;
    transition: height 1s ease;
}

.wrapper.active {
    height: 500px;
    transition-delay: 1s;
    transition: height 1s ease;
}

header h1 {
    font-size: 21px;
    font-weight: 500;
}

header p {
    margin-top: 5px;
    color: #ccc;
    font-size: 16px;
}

.wrapper .form1 {
    margin: 20px 0px 25px;
}

.form1 :where(button) {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.form2 :where(input, select, ) {
    width: 100%;
    height: 55px;
    top: 30px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.form2 input {
    width: 220px;
    height: 40px;
    font-size: 15px;
    padding: 0;
    border: 1px solid #999;
}

#clearBtn {
    cursor: pointer;
    width: 20px;
    height: 19px;
    top: 5px;
    right: 145px;
    border-radius: 15px;
    position: relative;
}

.form2 select {
    width: 110px;
    height: 42px;
    right: 22px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    padding: 0;
    border: 1px solid #999;
}

#generateBtn {
    width: 365px;
    height: 40px;
    color: #ffffff;
    cursor: pointer;
    margin-top: 10px;
    font-size: 15px;
    background: #6848f9;
}



.wrapper .qr-code {
    display: flex;
    opacity: 0;
    pointer-events: none;
    padding: 33px 0;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    transition-delay: 0s;
    transition: opacity 0.5s ease;
}

.wrapper.active .qr-code {
    opacity: 1;
    pointer-events: auto;
    transition-delay: 1s;
    transition: opacity 0% 0.5s ease;
    transition: position 0% 0.5s ease;
}

#img1 {
    width: 170px;
    height: 170px;
}

#icon1 {
    width: 25px;
    height: 25px;
    cursor: pointer;
    position: absolute;
    right: 5%;
    top: 3%;
    background-color: transparent;
}


#icon1:hover {
    width: 27px;
    height: 27px;
    right: 4.5%;
    top: 2.5%;
}